@media(max-width: 700px){
    .inp-css{
        width: 180px;
    }
    .lab-css{
        font-size: 18px;
    }
    .btn{
        width: 80px;
    }
    .btn-btn{
        font-size: 10px;
    }
    .welcome-css{
        width: 200px;
    }
    .text{
        font-size: 16px;
    }
}
@media(max-width: 500px){
    .inp-css{
        width: 140px;
    }
    .lab-css{
        font-size: 15px;
    }
    .btn{
        width: 65px;
    }
    .btn-btn{
        font-size: 8px;
    }
    .text{
        font-size: 13px;
    }
}
body{
    background-color: black;
}
